.dropdown {
  width: 100%;
  max-width: 200px;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border) !important;
  padding: 4px;
  min-width: 100px;
  height: max-content;
  border-radius: var(--border-radius);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.dropdown div{
  padding: 0.2em 1em;
  border-radius: var(--border-radius);
}

.dropdown div:hover{
  background-color: var(--color-primary);
  color: var(--color-on-primary);

}

