.editor {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto max-content;
}




/* editor center */
.editor .center-area {
  display: grid;
  /* grid-template-columns: 400px auto 250px; */
}



/* editor main */
.editor .editor-main {
  display: grid;
  /* grid-template-rows: auto 200px; */
}




