.editor {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

.editor .editor-area> .split {
  display: flex;
  flex-direction: row;
}



.editor-area{
  display: grid;
  grid-template-columns: max-content auto max-content;
}


/* editor main */
.editor-main > * {
  width: 100%;
}

.editor-main > .split {
  display: flex;
  flex-direction: column;
}

.editor .gutter.gutter-horizontal {
  cursor: col-resize;
}

.editor .gutter.gutter-vertical {
  cursor: row-resize;
}

.editor .split .gutter {
  background-color: var(--color-border);
  transition: all 200ms;
  position: relative;
}

.editor .split .gutter:hover {
  background-color: var(--color-primary) !important;
}
