.line-dragger {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.096); */
  display: flex;
}

.line-dragger.horizontal {
  width: 100%;
  height: 4px;
  cursor: row-resize;
  align-items: center;
}

.line-dragger.vertical {
  width: 4px;
  height: 100%;
  justify-content: center;
  cursor: col-resize;
}

.line-dragger .overlay-border {
  display: block;
  background-color: var(--color-border);
}

.line-dragger.vertical .overlay-border {
  height: 100%;
  width: 1px;
}

.line-dragger.horizontal .overlay-border {
  height: 1px;
  width: 100%;
}

.line-dragger:hover .overlay-border {
  background-color: var(--color-primary);
}
